.header_substrate{
    background-color: #CBECFF;
    height: 678px;
    padding-top: 30px;
    padding-right: 60px;
}

.header_substrate_content{
    width: 100%;
    height: 647px;
}

.ru_en{
    width: 80px;
    height: 50px;
    margin-left: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.ru{
    background-color: #FFFFFF;
    width: 26px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    color: #0962E8;
    text-align: center;
    display: inline-block;
    line-height: 22px;
}

.en{
    display: inline-block;
    margin-left: 15px;
}

.header_wrap{
    width: 1000px;
    height: 647px; 
    margin: auto;
}

.fin_kit_wrap{
    width: 360px;
    height: 500px;
}

.fin_kit_contentn{
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.fin{
    color: #29374E;
    font-size: 64px;
    display: inline-block;
}

.kit{
    display: inline-block;
    font-size: 64px;
    color: #0962E8;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 122px;
    text-align: center;
}

.wrap_content{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 14px;
}

.btn_demo{
    margin-top: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 199px;
    height: 43px;
    background-color: #0962E8;
    color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

.img_wrap{
    position: relative;
    left: 700px;
    top: -274px;
}

.img_wrap img {
    position: absolute;
  }

.elipse_1{
    position: absolute;
    height: 542px;
    width: 542px;
    background-color: #CBECFF;
    border: 5px solid;
    border-radius: 500px;
    color: #E2F3FF;
    top: -20px;
    left: -162px;
}

.elipse_2{
    position: absolute;
    height: 486px;
    width: 486px;
    background-color: #CBECFF;
    border: 50px solid;
    border-radius: 500px;
    opacity: 0.6;
    color: #E2F3FF;
    top: -53px;
    left: -184px;
}

.rectangle_wrap{
    height: 100px;
    width: 1100px;
    margin: auto;
    margin-top: 30px;
}

.rectangle_content{
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: inline-block;
    height: 118px;
    width: 241px;
    border-radius: 20px;
    padding-top: 22px;
    margin-right: 20px;
    text-align: left;
    color: #29374E;
    font-size: 16px;
    line-height: 22.4px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.1);
}

.rectangle_text{
    display: inline-block;
    width: 160px;
    margin-left: 20px;
    vertical-align: top;
}

.rectangle_icon{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.title_text{
    color: #29374E;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    width: 753;
}

.blocks_content{
    width: 1100px;
    margin: auto;
}

.block_content{
    width: 450px;
    height: 284px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #E9F6FF;
    border-radius: 30px;
    padding-top: 37px;
    padding-left: 20px;
    padding-right: 33px;
}

.block_content_text{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 45%;
    line-height: 140%;
    display: inline-block;
    vertical-align: top;
}

.block_content_text_second{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-top: 7px;
}

.block_content img {
    display: inline-block;
    width: 218px;
    height: 291px;
}

.footer_content{ 
    height: 270px;
    width: 1100px;
    margin: auto;
    margin-top: 120px;
}

.footer_content_left{
    height: 100px;
    width: 562px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.footer_content_text{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: #29374E;
}

.footer_content_text_second{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 21px;
    color: #29374E;
    line-height: 140%;
    width: 400px;
}

.footer_content_btn{
    margin-top: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 199px;
    height: 43px;
    background-color: #0962E8;
    color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

.footer_content_right{
    height: 100px;
    width: 500px;
    display: inline-block;
}

.footer_right_block{
    width: 231px;
    height: 140px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #29374E;
    margin-right: 5px;
    padding-top: 10px;
}

.footer{
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color: #CBECFF;
    text-align: center;
    color: #004a76;
    padding-top: 30px;
}

@media(max-width: 1100px ){
    .header_substrate{
        height: 963px;
    }

    
    
    
}