body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    
    width: 100%;
}

.header-substrate{
    background-color: #CBECFF;
    height: 678px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.header-substrate-content{
    border: 1px solid;
    width: 100%;
    height: 647px;
    
}

.ru-en{
    width: 80px;
    height: 50px;
    margin-left: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.ru{
    background-color: #FFFFFF;
    width: 26px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    color: #0962E8;
    text-align: center;
    display: inline-block;
    line-height: 22px;
    
    

}

.en{
    display: inline-block;
    margin-left: 15px;
}

.header-wrap{
    border: 1px solid;
    width: 875px;
    height: 647px; 
    margin: auto;
}

.fin-kit-wrap{
    border: 1px solid;
    width: 360px;
    height: 500px;

}

.fin-kit-contentn{
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    
}

.fin{
    color: #29374E;
    font-size: 64px;
    display: inline-block;
}

.kit{
    display: inline-block;
    font-size: 64px;
    color: #0962E8;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 122px;
    text-align: center;
}

.wrap-content{
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 14px;
}

.btn-demo{
    margin-top: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 199px;
    height: 43px;
    background-color: #0962E8;
    color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    
    
}

.img-wrap{
    position: relative;
    left: 500px;
}

.img-wrap img {
    position: absolute;
  }